/*   ---------- reset ----------   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-BlackItalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-LightItalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-MediumItalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-ThinItalic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

/*   ---------- index styles ----------   */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #222222; }
  body header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body header .hamburgerFc {
      width: 28px;
      height: 30px;
      margin: 10px 15px;
      display: none;
      cursor: pointer; }
      body header .hamburgerFc div {
        width: 100%;
        height: 5px;
        background: #e2e2e2;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden; }
    body header img {
      width: 80px;
      height: auto;
      margin: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    body header .menuList {
      margin: 20px; }
      body header .menuList .listItem {
        font-weight: 300;
        display: inline-block;
        padding: 0 10px; }
        body header .menuList .listItem a {
          text-decoration: none;
          color: #e2e2e2; }
  body main .heroFC {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(25, 188, 252, 0.5)), url("../img/fondoFC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e2e2e2; }
    body main .heroFC .heroTitle {
      font-family: 'Roboto', sans-serif;
      font-size: 3em;
      font-weight: 900;
      margin: 0; }
    body main .heroFC .heroSubtitle {
      font-size: 1.25em;
      font-weight: 300;
      letter-spacing: -0.5px; }
  body main .noticiasFc {
    background-color: #222222;
    color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }
    body main .noticiasFc a {
      text-decoration: none;
      color: #e2e2e2; }
    body main .noticiasFc section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
    body main .noticiasFc .newsCard {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      cursor: pointer;
      width: 250px;
      height: 300px;
      margin: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      overflow: hidden; }
      body main .noticiasFc .newsCard img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease; }
      body main .noticiasFc .newsCard:hover img {
        transform: scale(1.25); }
      body main .noticiasFc .newsCard::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0, 0, 0, 0.6); }
      body main .noticiasFc .newsCard .cardTitle {
        font-weight: 600;
        font-size: 1.25em;
        text-align: center;
        z-index: 1;
        text-shadow: 1px 1px 5px #000;
        margin: 0 15px; }
      body main .noticiasFc .newsCard .cardSubtitle {
        text-shadow: 1px 1px 5px #000;
        z-index: 1;
        text-align: center;
        font-weight: 300;
        letter-spacing: -0.5px;
        margin: 0 15px 15px 15px; }
    body main .noticiasFc .noticiasTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      border-bottom: 1px solid #ccc; }
  body main .resultadosFc {
    color: #e2e2e2; }
    body main .resultadosFc .resultadosTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: center;
      border-bottom: 1px solid #ccc; }
    body main .resultadosFc .resultadosTable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25px 0 80px 0; }
      body main .resultadosFc .resultadosTable .referencias {
        margin-top: 25px;
        text-align: center;
        font-style: italic; }
      body main .resultadosFc .resultadosTable label {
        font-weight: 600;
        font-size: 1.25em; }
      body main .resultadosFc .resultadosTable select {
        width: 30%;
        height: 40px;
        border: none;
        background-color: #222222;
        color: #e2e2e2;
        margin: 5px 0 15px 0;
        transition: all 0.6s ease; }
        body main .resultadosFc .resultadosTable select:hover {
          background-color: #0f0f0f; }
        body main .resultadosFc .resultadosTable select option {
          font-weight: 600;
          font-family: 'Raleway', sans-serif; }
      body main .resultadosFc .resultadosTable table, body main .resultadosFc .resultadosTable th, body main .resultadosFc .resultadosTable td {
        border: 1px solid #e2e2e2;
        border-collapse: collapse; }
      body main .resultadosFc .resultadosTable table {
        width: 60%;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }
        body main .resultadosFc .resultadosTable table tr {
          height: 40px; }
          body main .resultadosFc .resultadosTable table tr:hover {
            background-color: #3db1df;
            color: #222222; }
            body main .resultadosFc .resultadosTable table tr:hover img {
              filter: invert(10%) sepia(10%) saturate(19%) hue-rotate(41deg) brightness(98%) contrast(91%); }
          body main .resultadosFc .resultadosTable table tr .tableHeading {
            text-transform: uppercase;
            font-size: 1.15em; }
          body main .resultadosFc .resultadosTable table tr td {
            min-width: 30px;
            cursor: pointer; }
            body main .resultadosFc .resultadosTable table tr td span {
              display: none; }
              body main .resultadosFc .resultadosTable table tr td span img {
                width: 15px;
                filter: invert(100%) sepia(0%) saturate(1672%) hue-rotate(268deg) brightness(88%) contrast(99%); }
  body main .fixtureFc {
    color: #e2e2e2;
    display: flex;
    flex-direction: column; }
    body main .fixtureFc .fixtureTitle {
      width: 100%;
      align-self: flex-end;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: end;
      border-bottom: 1px solid #ccc; }
    body main .fixtureFc img {
      align-self: center;
      width: 150px;
      margin: 15px 0;
      -webkit-filter: drop-shadow(5px 5px 5px black);
      filter: drop-shadow(5px 5px 5px black);
      transition: all 1s ease;
      -webkit-transition: all 2s ease;
      z-index: 0; }
      body main .fixtureFc img:hover {
        transform: scale(1.15); }
    body main .fixtureFc .torneo {
      align-self: center;
      font-family: 'League Gothic', sans-serif;
      font-size: 3em;
      text-transform: uppercase; }
    body main .fixtureFc section {
      margin: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      body main .fixtureFc section .nextCard {
        font-family: 'Oswald', sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        margin: 25px;
        border: 1px solid #ccc;
        min-width: 150px; }
        body main .fixtureFc section .nextCard:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
          body main .fixtureFc section .nextCard:hover .we {
            color: #3db1df; }
        body main .fixtureFc section .nextCard .matchDate {
          text-transform: uppercase;
          border-bottom: 1px solid #ccc;
          max-width: 100%;
          width: 100%; }
        body main .fixtureFc section .nextCard .localTeam, body main .fixtureFc section .nextCard .visitorTeam {
          padding: 0 15px; }
  body main .galeriaFc {
    color: #e2e2e2; }
    body main .galeriaFc .galeriaTitle {
      width: 100%;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: start;
      border-bottom: 1px solid #ccc; }
    body main .galeriaFc .photo-gallery {
      color: #e2e2e2;
      background-color: #222222; }
      body main .galeriaFc .photo-gallery .photos {
        padding-bottom: 20px; }
      body main .galeriaFc .photo-gallery .item {
        padding-bottom: 30px; }
  body main .elClub {
    color: #e2e2e2; }
    body main .elClub .clubTitle {
      width: 100%;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: center;
      border-bottom: 1px solid #ccc; }
    body main .elClub .clubText {
      font-weight: 300;
      margin: 60px;
      padding: 25px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: 10px solid black;
      background-color: rgba(255, 255, 255, 0.164); }
  body .upArrow {
    background-color: rgba(255, 255, 255, 0.363);
    position: fixed;
    height: 40px;
    width: 40px;
    right: 40px;
    bottom: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center; }
    body .upArrow img {
      padding: 5px;
      width: 40px;
      height: auto; }
  body footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222; }
    body footer .footerDerechos {
      font-size: 0.75em;
      margin: 5px 15px;
      color: #e2e2e2; }
    body footer .footerRedes img {
      width: 20px;
      height: auto;
      filter: invert(89%) sepia(21%) saturate(0%) hue-rotate(161deg) brightness(101%) contrast(89%);
      margin: 5px 15px 5px 0;
      transition: all 0.4s ease; }
      body footer .footerRedes img:hover {
        transform: scale(1.1); }

/*   --------- noticias ---------   */
.bodyNoticias {
  color: #e2e2e2; }
  .bodyNoticias main {
    padding: 200px 0 0 0;
    display: flex; }
    .bodyNoticias main article {
      display: flex;
      flex-direction: column; }
      .bodyNoticias main article .articleImg {
        margin: 30px auto;
        width: 60%; }
      .bodyNoticias main article .articleDate {
        font-weight: 300;
        font-style: italic;
        padding: 0 30px; }
      .bodyNoticias main article .articleTitle {
        font-family: 'League Gothic', sans-serif;
        font-size: 4.5em;
        padding: 0 30px;
        line-height: 60px; }
      .bodyNoticias main article .articleSubtitle {
        font-family: 'Roboto', sans-serif;
        padding: 0 30px 0 30px; }
      .bodyNoticias main article .articleText {
        padding: 0 40px; }
      .bodyNoticias main article .photo-gallery .container .photos .item a img {
        padding: 25px 15px; }
    .bodyNoticias main aside {
      padding: 200px 30px;
      border-left: 1px #ccc solid; }
      .bodyNoticias main aside div p {
        font-family: 'League Gothic', sans-serif;
        font-size: 3.5em; }
      .bodyNoticias main aside div a {
        color: #e2e2e2; }
        .bodyNoticias main aside div a .click {
          font-family: 'Roboto', sans-serif;
          font-size: 1em;
          font-style: italic; }

.noticiasPage main {
  padding: 200px 0 0 0; }
  .noticiasPage main .newsTitle {
    color: #e2e2e2;
    font-family: 'League Gothic', sans-serif;
    font-size: 4.5em;
    padding: 0 30px 25px 30px; }
  .noticiasPage main a {
    text-decoration: none;
    color: #e2e2e2; }
    .noticiasPage main a .newsCard {
      padding: 25px 30px 25px 30px;
      margin: 0 40px 20px 40px;
      display: flex;
      border: 1px solid #e2e2e2;
      border-radius: 30px;
      transition: all 0.3s ease; }
      .noticiasPage main a .newsCard img {
        width: 150px;
        height: 150px;
        object-fit: cover; }
      .noticiasPage main a .newsCard .titles {
        display: inherit;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 15px; }
        .noticiasPage main a .newsCard .titles .cardTitle {
          font-weight: 700;
          font-size: 1.25em;
          margin: 0;
          padding: 0; }
      .noticiasPage main a .newsCard:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

@media (max-width: 768px) {
  body header .menuList .listItem {
    font-size: 0.85em; }
  body main .heroFC .heroTitle {
    font-size: 2.5em;
    text-align: center; }
  body main .heroFC .heroSubtitle {
    font-size: 1em; }
  .bodyNoticias main {
    padding: 200px 0 0 0;
    flex-direction: column; }
    .bodyNoticias main article .articleImg {
      width: 100%;
      height: auto; }
    .bodyNoticias main article .photo-gallery .container {
      display: flex;
      flex-wrap: wrap; }
      .bodyNoticias main article .photo-gallery .container .photos {
        display: inherit;
        justify-content: center;
        align-items: center;
        margin: 25px 0; }
        .bodyNoticias main article .photo-gallery .container .photos .item {
          width: unset;
          margin: 0;
          padding: 0; }
          .bodyNoticias main article .photo-gallery .container .photos .item a img {
            width: 200px;
            height: auto;
            padding: 15px; }
    .bodyNoticias main aside {
      border-left: none;
      border-top: 1px solid #e2e2e2;
      padding: 50px 30px; } }

@media (max-width: 576px) {
  .bodyNoticias {
    font-size: 12px; }
    .bodyNoticias main {
      padding: 100px 0 0 0;
      flex-direction: column; }
      .bodyNoticias main article img {
        width: 100%;
        height: auto; }
      .bodyNoticias main article .photo-gallery .container {
        display: flex;
        flex-wrap: wrap; }
        .bodyNoticias main article .photo-gallery .container .photos .item {
          width: unset;
          margin: 0;
          padding: 0; }
          .bodyNoticias main article .photo-gallery .container .photos .item a img {
            width: 100px;
            height: auto;
            padding: 15px; }
      .bodyNoticias main aside {
        border-left: none;
        border-top: 1px solid #e2e2e2;
        padding: 50px 30px; }
  .noticiasPage {
    font-size: 12px;
    height: 100%; }
    .noticiasPage main {
      padding: 100px 0 0 0; }
      .noticiasPage main a .newsCard {
        flex-direction: column;
        padding: 15px 20px; }
        .noticiasPage main a .newsCard img {
          align-self: center;
          padding: 0 0 10px 0; }
  body {
    font-size: 12px; }
    body main .heroFC .heroTitle {
      font-size: 2em;
      text-align: center; }
    body main .heroFC .heroSubtitle {
      font-size: 1em; }
    body main .noticiasFc {
      text-align: center; }
      body main .noticiasFc .noticiasTitle {
        font-size: 3.5em; }
      body main .noticiasFc section .newsCard {
        height: 200px; }
    body main .resultadosFc .resultadosTitle {
      font-size: 3.5em; }
    body main .resultadosFc .resultadosTable label {
      font-size: 1em; }
    body main .resultadosFc .resultadosTable table {
      font-size: 0.75em;
      width: 90%; }
      body main .resultadosFc .resultadosTable table tr th {
        min-width: 25px; }
    body main .fixtureFc .fixtureTitle {
      font-size: 3.5em;
      text-align: center; }
    body main .fixtureFc img {
      width: 80px;
      z-index: -1; }
    body main .fixtureFc .torneo {
      font-size: 3em; }
    body main .fixtureFc section {
      margin: 15px;
      font-size: 0.75em; }
      body main .fixtureFc section .nextCard {
        margin: 10px; }
        body main .fixtureFc section .nextCard .matchDate {
          padding: 0 0 10px 0; }
        body main .fixtureFc section .nextCard p {
          margin: 0 0 0.5rem 0; }
    body main .galeriaFc .galeriaTitle {
      font-size: 3.5em;
      text-align: center; }
    body main .galeriaFc .photo-gallery .container .row .item {
      position: unset; }
    body .upArrow {
      z-index: 3;
      right: 15px;
      bottom: 15px; }
    body footer {
      position: static; }
      body footer .footerDerechos {
        font-size: 0.5em; }
      body footer .footerRedes img {
        width: 15px; }
    body header {
      z-index: 3;
      position: fixed;
      height: 90px;
      background-image: linear-gradient(black, rgba(255, 255, 255, 0));
      justify-content: space-between;
      padding-top: 10px; }
      body header img {
        height: 85px;
        width: auto; }
      body header .menuList {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #0f7fac;
        margin: 0;
        padding: 30% 0 0 0;
        z-index: 2; }
        body header .menuList .listItem {
          z-index: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          font-size: 1.5em; }
          body header .menuList .listItem:hover {
            background-color: #e2e2e2; }
            body header .menuList .listItem:hover a {
              color: #222222; }
      body header .hamburgerFc {
        display: inline-block;
        z-index: 10; }
      body header #hamburgerFc.on .one {
        transform: rotate(45deg) translate(5px, 5px); }
      body header #hamburgerFc.on .two {
        opacity: 0; }
      body header #hamburgerFc.on .three {
        transform: rotate(-45deg) translate(7px, -8px); } }
